In [1]:
# Importing  Libraries
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
P = 31115 * (1.075)
r = 0.0702 / 12
n = 60
numerator = (r *((1 + r)**(n)) )
denominator = ((1 + r)**(n)) - 1
EMI = P * (numerator / denominator)
EMI

662.638532377825

In [3]:
P = 31115 + (32615 * 0.0975) + 50 + 200 + 65 + 80
r = 0.0702 / 12
n = 60
numerator = (r *((1 + r)**(n)) )
denominator = ((1 + r)**(n)) - 1
EMI = P * (numerator / denominator)
EMI

687.2302176619154

In [4]:
'The Monthly Payment with fees included is {} higher'.format(np.round(687.23 - 662.64,2))

'The Monthly Payment with fees included is 24.59 higher'

In [6]:
# Calculate one month of interest
P = 34689.9625
r = 0.0702 / 12

r * P

202.93628062500002

In [7]:
# Calculate new principal (after one payment)

34689.9625 - (687.23 - 202.94)

34205.6725

In [7]:
term = 60
P = 34689.96

def calc_interest(P,emi,interest_rate = 0.0702):
    interest_paid = np.floor(((interest_rate/12)*P)*100)/100
    principal_paid = np.round(emi-interest_paid, 2)
    new_balance = np.round(P - principal_paid,2)
    return(emi, interest_paid, principal_paid, new_balance)

payment_list = []
for n in range(1, term + 1):
    emi,i_paid,p_paid,new_p = calc_interest(P, EMI)
    payment_list.append([n, P, EMI, i_paid, p_paid, new_p])
    P = np.round(new_p,2)

In [9]:
c_names = ['Month','Starting Balance','Repayment','Interest Paid','Principal Paid','New Balance']
payment_table = pd.DataFrame(payment_list, columns = c_names)

In [10]:
payment_table.head(10)

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance
0,1,34689.96,687.230218,202.93,484.30,34205.66
1,2,34205.66,687.230218,200.10,487.13,33718.53
2,3,33718.53,687.230218,197.25,489.98,33228.55
3,4,33228.55,687.230218,194.38,492.85,32735.70
4,5,32735.70,687.230218,191.50,495.73,32239.97
5,6,32239.97,687.230218,188.60,498.63,31741.34
6,7,31741.34,687.230218,185.68,501.55,31239.79
7,8,31239.79,687.230218,182.75,504.48,30735.31
8,9,30735.31,687.230218,179.80,507.43,30227.88
9,10,30227.88,687.230218,176.83,510.40,29717.48

In [11]:
np.round(payment_table['Interest Paid'].sum(), 2)

6543.51

In [15]:
P = 34689.96
term = 60

def generate_loan_table(P, term, interest_rate=0.0702):

    def calc_emi(P, n, interest_rate):
        r = interest_rate / 12
        numerator = (r *((1 + r)**(n)) )
        denominator = ((1 + r)**(n)) - 1
        emi = P * (numerator / denominator)
        emi = np.round(emi, 2)
        return(emi)
    
    def calc_interest(P, emi, interest_rate):
        i_paid = np.floor(((interest_rate/12)*P)*100)/100
        p_paid = np.round(emi - i_paid, 2)
        new_p = np.round(P - p_paid,2)
        return(emi, i_paid, p_paid, new_p)

    emi = calc_emi(P, term, interest_rate)
    payment_list = []
    
    for n in range(1, term + 1):
        emi,i_paid,p_paid, new_p = calc_interest(P, emi, interest_rate)
        payment_list.append([n, P,emi, i_paid, p_paid, new_p])
        P = np.round(new_p,2)
   
    payment_table = pd.DataFrame(payment_list, columns = ['Month',
                                                       'Starting Balance',
                                                       'Repayment',
                                                       'Interest Paid',
                                                       'Principal Paid',
                                                       'New Balance'])
    return(payment_table, np.round(payment_table['Interest Paid'].sum(), 2), emi)

In [16]:
o_table, o_paid, o_emi = generate_loan_table(P,term,interest_rate=0.0702)
r_table, r_paid, r_emi = generate_loan_table(P,term,interest_rate=0.0359)

In [19]:
"Refinancing could save: {}".format(6543.51 - 3257.88)

'Refinancing could save: 3285.63'

In [23]:
original_emi

687.23

In [22]:
original_table, original_paid, original_emi = generate_loan_table(P, term = 60, interest_rate = 0.0702)
seventyTwo_table, seventyTwo_paid, seventyTwo_emi = generate_loan_table(P, term = 72, interest_rate = 0.0702)

In [26]:
original_emi, seventyTwo_emi

(687.23, 591.76)